@mixin first-container {
  width: 100vw;
  height: 80vh;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  z-index: 0;

  position: relative;

  display: flex;
  align-items: center;

  overflow-x: auto;
  overflow-y: hidden;

  .produtos {
    padding: 3vw 6vh;

    top: 9vh;
    margin: 0 auto;

    background: #ffffff;

    display: none;
    position: fixed;
    z-index: 800;

    .line {
      display: flex;
      justify-content: space-between;

      i {
        color: #000;
        scale: 2.4;
      }
    }

    $i: 0;
    @for $i from 2 through 5 {
      .line-#{$i} {
        margin-top: 6vh;
      }
    }
  }

  .slide-box {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    position: relative;

    .slide {
      width: 100vw;
      height: 80vh;
    }

    .slide-1 {
      background: #000;
    }
  }
}
