@import "mobile";

* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
  transition: 0.25s;
  text-decoration: none;
  font-family: $primary-font;
}

body {
  @include body;

  nav {
    @include nav;
  }

  main {
    .container-1 {
      @include container-1;
    }
  }
}
