@import "base";
@import "mobile";

* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
  transition: 0.25s;
  list-style-type: none;
  text-decoration: none;
  font-family: $primary-font;
}

body {
  @include body;

  nav {
    @include nav;
  }
  .container-1 {
    @include first-container;

    .slide-content {
    }
  }

  .container-2 {
    @include second-container;
  }
}
